* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
  
  .formHeader {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    margin: 200px 0 0 550px;
    padding: 50px;
  }
  
  .formHeader h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-size: 30px;
    margin-bottom: 20px;
  }

  .form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
  }

  .formRow {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .formRow input[type='text'],
  .formRow input[type='password'],
  .formRow input[type='email']
   {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .formRow label {
    margin-bottom: 15px;
  }
  
  .formRow button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .formRow button:hover {
    background-color: #76AEED;
  }
  
  .formRow button:active {
    background-color: #407FC7;
  }

  .formRow input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
  }

  @media only screen and (min-width: 700px) {
    .formHeader {
        width: max-content;
        height: max-content;
    }
    .form {
        width: 600px;
        height: max-content;
    }
    .formRow {
      flex-direction: row;
      align-items: flex-start; /* To avoid stretching */
      margin-bottom: 20px;
    }
    .formRow input[type='text'],
    .formRow input[type='password'],
    .formRow input[type='email'] {
        width: 250px;
        height: initial;
    }
    .formRow label {
      padding-left: 20px;  
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }

    .formRow button {
        margin-left: 150px;
    }
  }